node_modules
npm-debug.log
dist
build
.git
.gitignore
README.md
.env*
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
coverage
test
tests
.cache
.next
__tests__
.env.*.local
.github
.dockerignore
*.md
infra/
k8s/
scripts/
